<h2><%= @player.name %></h2>

<p>Team: <%= @player.team %> Cost: <%= @player.cost %> Quantity: <%= @player.quantity %> Bought on: <%= @player.created_at %></p>

<form action="/players/<%= @player.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
