<h2><%= @player.name %></h2>

<table class="player_table" style="width: 100%;" >
  <tbody>
  <tr>
    <th>Team</th>
    <th>Price</th>
    <th>Target Sell Price</th>
    <th>Quantity</th>
    <th>Total Cost</th>
    <th>Bought on</th>
  </tr>
  <tr>
    <td><%= @player.team %></td>
    <td>£<%= (@player.cost / @player.quantity).round(2) %></td>
    <td>£<%= '%.2f' % ((@player.cost / @player.quantity) * 1.02) %></td>
    <td><%= @player.quantity %></td>
    <td>£<%= '%.2f' % @player.cost %></td>
    <td><%= @player.created_at.strftime("%d-%m-%Y") %></td>
  </tr>
  </tbody>
</table>


<form action="/players/<%= @player.id %>/edit" method="GET">
  <input type="submit" value="Edit">
</form>

<form action="/players/<%= @player.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
